<h1>Listing view!</h1>
<div
  class="list-row"
  phx-click="select_row"
  phx-value-id="1">
  <a
    data-phx-link="redirect"
    data-phx-link-state="push"
    href="/edit"
    class="entry-link">Edit</a>
</div>

<div
  class="list-row"
  phx-click="select_row"
  phx-value-id="2">
  <a
    data-phx-link="redirect"
    data-phx-link-state="push"
    href="/edit"
    class="entry-link">Edit</a>
</div>
